@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

html,
body {
  margin: 0;
  background: rgb(255, 247, 247);
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.movie_card {
  position: relative;
  display: block;
  width: 95%;
  height: 80%;
  min-height: 500px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-sizing: border-box;
}
.info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
  overflow-y: scroll;
}
.movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_header h1 {
  color: #fff;
  font-weight: 400;
}
.movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
  margin: 0;
}
.minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_desc {
  padding-left: 25px;
  /* height: 50%; */
}
.movie_desc .text {
  color: #cfd6e1;
  margin: 5px;
  font-size: 18px;
}
.movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}

.blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

.bright {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.8);
}
.bright:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.8);
}
.tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.8);
}
.tomb:hover {
  box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.8);
}
.ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.8);
}
.ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.8);
}
.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton {
  min-width: 340px;
  min-height: 325px;
  border: 2px solid rgb(134, 134, 134);
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}
.skeleton-image {
  width: 100%;
  height: 190px;
  background-color: rgb(197, 197, 197);
}
.skeleton-title {
  width: 250px;
  height: 36px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
}
.skeleton-date {
  height: 20px;
  width: 100px;
  margin-left: 20px;
  background-color: #ddd;
}
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}
@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: auto;
    margin-top: 35px;
    min-height: 500px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}

@media screen and (max-width: 1281px) {
  .movie_card {
    margin: 70px auto;
    min-height: 500px;
  }
}
